/* css stuff fpr 2 pages */
body {
    text-align: center;
    color: white;
}

/* pg 1 bg */
.page1 {
    background-color: rgb(0, 166, 255);
}

/* pg 2 bg */
.page2 {
    background-color: rgb(0, 166, 255);
}

/* pic stuff */
img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

/* other stuff */
.input-container {
    margin: 10px;
}

label {
    font-size: 18px;
}

input {
    padding: 5px;
    margin: 5px;
}

/* submit button */
button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: rgb(255, 146, 201);
}

h1 {
    text-align: center;
}

